# Etude sur Développez un moteur de recommandation de films

Un site sur le cinéma vous contacte, car ils souhaitent lancer un moteur de recommandation de film pour sauver les soirées ciné de leurs futurs clients. Pour ce faire, vous devrez créer un moteur de recommandations de films. Le seul problème : il n'y a pas encore d’utilisateurs.

#### Contexte du projet

Votre client, vous communique une base de données publique d’informations sur des films, à défaut d'avoir des données sur leurs utilisateurs. https://www.dropbox.com/s/5779djv4tefh6vz/imdb-5000-movie-dataset%20%281%29.zip?dl=0

À l’aide de méthodes non supervisées vous devrez élaborer un système capable de retourner 5 recommandations de films similaires et intéressants pour le visiteur. Ceci à partir d’un nom de film (ou un id).

#### Modalités pédagogiques

Travail individuel. Le travail implique de faire du traitement de texte et notamment pour le feature engineering. Pour cela voici des ressources pour monter en compétence :

cours : https://www.dropbox.com/sh/jinhd7xyjq8gmxi/AAAXcjnfKGIB5gRBE3iI_3JPa?dl=0

https://www.dropbox.com/sh/6p3eqo93l85oj67/AADI0DkLpKHAmPy_h4KksX5ja?dl=0

​

exos : https://www.dropbox.com/sh/rgcc3mrs7hsvk5z/AAA4Rtcah1SKOqqUI3vgrsdGa?dl=0

#### Critères de performance

    Analyse exploratoire propre et commentée
    Veille synthétique et claire
    Choix de la démarche de modélisation pertinente
    Sélection des variables de la base de modélisation pertinente
    Tests de plusieurs algorithmes avec évaluation de la performance
    Choix du modèle final justifié

### 1 - import librarys

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

### 2 - set option pour l'affichage

In [2]:
pd.set_option("max_columns", None)
pd.set_option("max_colwidth", None)
pd.set_option("max_row", 500)

### 3 - read dataset

In [3]:
df = pd.read_csv( "movie_metadata.csv")

In [4]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

### nettoyage des données

In [6]:
# make a copy of data set
df_cp = df.copy()

#### J'enlève "\xa0" après movie_title

In [7]:
df_cp['movie_title']=='Avatar\xa0'

0        True
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: movie_title, Length: 5043, dtype: bool

In [8]:
# remove all the space after titles
df_cp['movie_title'] = df_cp['movie_title'].str.strip(' ')

In [9]:
# \xa0 is actually non-breaking space in Latin1 (ISO 8859-1), also chr(160). You should replace it with a space.
df_cp['movie_title'] = df_cp['movie_title'].str[:-1]

In [10]:
df_cp['movie_title']=='Avatar\xa0'

0       False
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: movie_title, Length: 5043, dtype: bool

#### J'enlève des mêmes titles de movies.

In [11]:
df_cp[df_cp['movie_title']=='Ben-Hur']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
367,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,57,13379,Moises Arias,2.0,NaN,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,NaN,2016.0,745.0,6.1,2.35,0
2613,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,62,13390,Moises Arias,2.0,chariot race|epic|false accusation|jerusalem|slave,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,100000000.0,2016.0,744.0,6.1,2.35,0
3967,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,67,13391,Moises Arias,2.0,chariot race|epic|false accusation|jerusalem|slave,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,100000000.0,2016.0,744.0,6.0,2.35,0

In [12]:
df_cp.movie_title.value_counts()

The Fast and the Furious    3
Ben-Hur                     3
Home                        3
Victor Frankenstein         3
King Kong                   3
                           ..
The Whole Ten Yards         1
North Country               1
88 Minutes                  1
Love & Other Drugs          1
My Date with Drew           1
Name: movie_title, Length: 4916, dtype: int64

In [13]:
# drop_duplicates() remove duplicates from the data frame
df_cp = df_cp.drop_duplicates(subset=['director_name','movie_title'],keep='last')

In [14]:
df_cp.movie_title.value_counts()

Out of the Blue                        2
The Host                               2
The Dead Zone                          2
Avatar                                 1
Held Up                                1
                                      ..
Trapped                                1
Barney's Version                       1
The Imaginarium of Doctor Parnassus    1
An Unfinished Life                     1
My Date with Drew                      1
Name: movie_title, Length: 4916, dtype: int64

These 3 films have different director names, it means they are not identic.

In [15]:
df_cp[df_cp['movie_title']=='The Dead Zone']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2702,Color,NaN,18.0,60.0,NaN,186.0,Nicole de Boer,443.0,NaN,Drama|Fantasy|Mystery|Sci-Fi,David Ogden Stiers,The Dead Zone,7122,981,Chris Bruno,1.0,psychic|psychic power|psychometry|spin off|supernatural power,http://www.imdb.com/title/tt0281432/?ref_=fn_tt_tt_1,77.0,English,Canada,TV-14,NaN,NaN,319.0,7.5,NaN,576
3130,Color,David Cronenberg,112.0,103.0,0.0,275.0,Herbert Lom,1000.0,NaN,Horror|Sci-Fi|Thriller,Tom Skerritt,The Dead Zone,44804,2013,Anthony Zerbe,0.0,car accident|coma|evil politician|psychic|vision,http://www.imdb.com/title/tt0085407/?ref_=fn_tt_tt_1,182.0,English,USA,R,10000000.0,1983.0,278.0,7.2,1.85,0

In [16]:
#df_cp.index.unique()

#### remplacer Nan par strings

In [17]:
df_cp.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

In [18]:
# fill string type columns in with Unknown/Unrated if it is Null for 3NF
# at the end we will not use unknown words for ai
df_cp = df_cp.fillna({'color':'Unknown', 
           'director_name':'Unknown', 
           'actor_2_name':'Unknown', 
           'genres':'Unknown',
           'actor_1_name':'Unknown', 
           'actor_3_name':'Unknown', 
           'plot_keywords':'Unknown', 
           'movie_imdb_link':'Unknown',
           'language':'Unknown',
           'country': 'Unknown',
           'content_rating':'Unrated'
          })

In [19]:
df_cp[df_cp['director_name'] == 'Unknown'].head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
177,Color,Unknown,21.0,60.0,NaN,184.0,Philip Michael Thomas,982.0,NaN,Action|Crime|Drama|Mystery|Thriller,Don Johnson,Miami Vice,16769,1687,John Diehl,2.0,cult tv|detective|drugs|police|undercover,http://www.imdb.com/title/tt0086759/?ref_=fn_tt_tt_1,74.0,English,USA,TV-14,1500000.0,NaN,321.0,7.5,1.33,0
260,Color,Unknown,29.0,60.0,NaN,432.0,Dirk Benedict,669.0,NaN,Action|Adventure|Crime,George Peppard,The A-Team,25402,1655,Dwight Schultz,4.0,1980s|cult tv|famous opening theme|good versus evil|hero for hire,http://www.imdb.com/title/tt0084967/?ref_=fn_tt_tt_1,97.0,English,USA,TV-PG,NaN,NaN,554.0,7.6,4.00,0

In [20]:
# fill numeric (int, float) type columns in with -1 if it is Null
df_cp = df_cp.fillna({'num_critic_for_reviews':-1, 
           'duration':-1, 
           'director_facebook_likes':-1, 
           'actor_3_facebook_likes':-1, 
           'actor_1_facebook_likes':-1, 
           'gross':-1,
           'num_voted_users':-1,
           'cast_total_facebook_likes':-1,
           'facenumber_in_poster':-1,
           'num_user_for_reviews':-1,
           'budget':-1,
           'title_year':-1,
           'actor_2_facebook_likes':-1,
           'imdb_score':-1,
           'aspect_ratio':-1,
           'movie_facebook_likes':-1
          })

#df_cp = df_cp.fillna(-1)

In [21]:
df_cp.isnull().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [22]:
df_cp.shape

(4919, 28)

In [23]:
# change title_year type to int
df_cp['title_year'] = df_cp['title_year'].astype(int)

In [24]:
#export to csv
df_cp.to_csv('movie.csv', index = False)

#### prepare director csv

In [25]:
director = df_cp['director_name'].unique()

In [26]:
director

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

In [27]:
df_director = pd.DataFrame(director, columns=['director_name'])

In [28]:
#export to csv
df_director.to_csv('df_director.csv', index = False)

#### Je vais spliter director_name to first_name and last_name

In [29]:
df_director_split = df_director.copy()

In [30]:
for i in range(1,10,1):
    print(df_director.loc[df_director['director_name'].str.split().str.len() == i])

     director_name
30             McG
106        Unknown
171          Pitof
462   Costa-Gavras
1114           RZA
1409       Maïwenn
1667        Shekar
1947          Remo
2333     Valentine
          director_name
0         James Cameron
1        Gore Verbinski
2            Sam Mendes
3     Christopher Nolan
4           Doug Walker
...                 ...
2393      Shane Carruth
2395    Anthony Vallone
2396        Scott Smith
2397   Benjamin Roberds
2398        Daniel Hsia

[2182 rows x 1 columns]
                  director_name
34           Guillermo del Toro
88          Jennifer Yuh Nelson
89           M. Night Shyamalan
101                  Jon M. Chu
107       Alejandro G. Iñárritu
130         Mark Steven Johnson
133             James L. Brooks
137               Kirk De Micco
149                 Jan de Bont
183        Michael Patrick King
198              Brian De Palma
200              Alan J. Pakula
205          Paul W.S. Anderson
262                F. Gary Gray
300         Phil Alden Robinson
319              David S. Goyer
328         Keenen Ivory Wayans
352            David O. Russell
408        Francis Ford Coppola
425     Rawson Marshall Thurber
441          Jorge R. Gutiérrez
460          David Gordon Green
463        Patrick Read Johnson
491              David R. Ellis
493               John A. Davis
502          Billy Bob Thornton
504          George P. Cosmatos
511                Gus Van Sant
517        Joseph L. Mankiewicz
524         Julie Anne Robinson
536         Angelina Jolie Pitt
539             Mark A.Z. Dippé
555            Frederik Du Chau
567              Malcolm D. Lee
572               Marc F. Adler
575           Peter Ho-Sun Chan
579           Charles S. Dutton
589        Paul Thomas Anderson
598        Charles Martin Smith
605            John Lee Hancock
607       Kevin Rodney Sullivan
611         Gary David Goldberg
643          George Tillman Jr.
668          John Francis Daley
688          Lee Toland Krieger
692         Paul Michael Glaser
693            John R. Leonetti
699         Stephen J. Anderson
706           Charles Stone III
721            Richard J. Lewis
723           Niels Arden Oplev
748             Robert B. Weide
750          Agustín Díaz Yanes
762            E. Elias Merhige
792            Dwight H. Little
797         Damien Dante Wayans
804            Philip G. Atwell
806            Don Michael Paul
822             Craig R. Baxley
827             Jeffrey W. Byrd
838           Mario Van Peebles
877        Juan José Campanella
881        Joshua Michael Stern
902        John Patrick Shanley
911             Jim Field Smith
913          William Brent Bell
922          Michael J. Bassett
934           Michael O. Sajbel
935         Charles T. Kanganis
948           Mabrouk El Mechri
978            George A. Romero
989           William A. Fraker
1002              Tran Anh Hung
1012             Brian A Miller
1026            Sidney J. Furie
1027           Ian Iqbal Rashid
1032          Andrea Di Stefano
1044        Perry Andelin Blake
1045  Christian E. Christiansen
1069            Tommy Lee Jones
1087       Nicolas Winding Refn
1089    Juan Carlos Fresnadillo
1093  Elizabeth Allen Rosenbaum
1102             Mark L. Lester
1121          Tina Gordon Chism
1127          Katja von Garnier
1152             Lars von Trier
1155         Vidhu Vinod Chopra
1206                John H. Lee
1222      Franklin J. Schaffner
1223          John Erick Dowdle
1231        Ernest R. Dickerson
1232           Lionel C. Martin
1264              David S. Ward
1273          William A. Graham
1291        Darren Lynn Bousman
1310          Robert Ben Garant
1316       Michael Patrick Jann
1401       Ole Christian Madsen
1407        Roland Suso Richter
1413           David E. Talbert
1422        Vipul Amrutlal Shah
1425           John G. Avildsen
1438              Peter R. Hunt
1469         David Webb Peoples
1475      Charles Robert Carner
1507      Shari Springer Berman
1509   Stephen Milburn Anderson
1510           Richard E. Grant
1514           Robert C. Cooper
1516         Jackie Earle Haley
1527       Sterling Van Wagenen
1529         Hans Petter Moland
1533            George Roy Hill
1539          Sammo Kam-Bo Hung
1543         Risa Bramon Garcia
1546         Raymond De Felitta
1547      John Michael McDonagh
1552      John Cameron Mitchell
1560          Joey Lauren Adams
1571    Christopher M. Bessette
1574            Ashish R. Mohan
1584    Rakeysh Omprakash Mehra
1593          David F. Sandberg
1609           Tim Blake Nelson
1641           Feroz Abbas Khan
1647          Morgan J. Freeman
1651       Paul Andrew Williams
1653            William H. Macy
1679              Mike van Diem
1694           Cecil B. DeMille
1708           Rick de Oliveira
1719            Robert Lee King
1720       Jorge Ramírez Suárez
1727              Peter H. Hunt
1751        Anthony C. Ferrante
1756           Warren P. Sonoda
1763          Daniel Petrie Jr.
1794             Peter M. Cohen
1804         Michael Landon Jr.
1820          Michael Jai White
1833         John Carl Buechler
1838         Alex van Warmerdam
1849          Tommy Lee Wallace
1860         Michael D. Sellers
1878      Harmage Singh Kalirai
1888      David Robert Mitchell
1953            J. Lee Thompson
1966           Steven R. Monroe
1970          Brad J. Silverman
1972          David M. Matthews
2006       Timothy Woodward Jr.
2016        Leslie H. Martinson
2017            Robert M. Young
2037      James David Pasternak
2041           Adam Jay Epstein
2042     Justin Thomas Ostensen
2054        Matthew R. Anderson
2067             Robert D. Webb
2083       José Luis Valenzuela
2105              A. Raven Cruz
2113             Mary Pat Kelly
2119         Stefan C. Schaefer
2124          Jeffrey St. Jules
2138            Ric Roman Waugh
2139                 C. Jay Cox
2147        Georg Wilhelm Pabst
2163      Jennifer Wynne Farmer
2164   Christopher Scott Cherot
2183          U. Roberto Romano
2184           Amy Holden Jones
2189          John 'Bud' Cardos
2193         Barry W. Blaustein
2198          Jacob Aaron Estes
2203      Marius A. Markevicius
2210            Alex Craig Mann
2213        Michael Hoffman Jr.
2217        Fernando Baez Mella
2219         Justin Paul Miller
2220           Joel Paul Reisig
2245           Henry Alex Rubin
2260            John D. Hancock
2264        Jerome Elston Scott
2269              Ken Del Conte
2271       Piyush Dinker Pandya
2296            Al Silliman Jr.
2300             David G. Evans
2306        Carl Theodor Dreyer
2311            C. Fraser Press
2317  Nicolae Constantin Tanase
2319         Melvin Van Peebles
2322         Michel Orion Scott
2336         Nathan Smith Jones
2338          Harry F. Millarde
2347          Patrick Ryan Sims
2362          Terron R. Parsons
2374         Collin Joseph Neal
2375          Bradley Rust Gray
2391         Thomas L. Phillips
2394           Neill Dela Llana
                         director_name
616                 Steven E. de Souza
1184            Preston A. Whitmore II
1192          Daisy von Scherler Mayer
1318  Florian Henckel von Donnersmarck
1362                Álex de la Iglesia
1671              Analeine Cal y Mayor
1722           Fernando León de Aranoa
2051             Regardt van den Bergh
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []

In [31]:
df_director_split.iloc[610:620]

           director_name
610   Patrick Tatopoulos
611  Gary David Goldberg
612            Alan Poul
613      Luke Greenfield
614           Gil Junger
615      Michael Ritchie
616   Steven E. de Souza
617        Alexandre Aja
618        Michael Rymer
619          Hugh Wilson

In [32]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 1, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 1, 'last_name'] = df_director_split['director_name'].str.split().str[-1]

In [33]:
# split director_name into last_name and first_name if director_name composed only 2 names
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 2, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 2, 'last_name'] = df_director_split['director_name'].str.split().str[-1]

In [34]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 3, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 3, 'last_name'] = df_director_split['director_name'].str.split().str[-2] + ' ' + df_director_split['director_name'].str.split().str[-1]

In [35]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4, 'last_name'] = df_director_split['director_name'].str.split().str[-3] + ' ' + df_director_split['director_name'].str.split().str[-2] + ' ' + df_director_split['director_name'].str.split().str[-1]

In [36]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4]

                         director_name first_name                 last_name
616                 Steven E. de Souza     Steven               E. de Souza
1184            Preston A. Whitmore II    Preston            A. Whitmore II
1192          Daisy von Scherler Mayer      Daisy        von Scherler Mayer
1318  Florian Henckel von Donnersmarck    Florian  Henckel von Donnersmarck
1362                Álex de la Iglesia       Álex             de la Iglesia
1671              Analeine Cal y Mayor   Analeine               Cal y Mayor
1722           Fernando León de Aranoa   Fernando            León de Aranoa
2051             Regardt van den Bergh    Regardt             van den Bergh

In [37]:
df_director_split.shape

(2399, 3)

In [38]:
#export to csv
df_director_split.to_csv('df_director_split.csv', index = False)

#### prepare actor.csv

In [39]:
from itertools import chain

df_actor123 = df_cp[['actor_1_name','actor_2_name','actor_3_name']]
actor_unique = list(set(chain.from_iterable(df_actor123.values)))
df_actor = pd.DataFrame(actor_unique, columns=['actor_name'])

In [40]:
df_actor.nunique()

actor_name    6256
dtype: int64

In [41]:
#export to csv
df_actor.to_csv('df_actor.csv', index = False)

#### Je vais spliter actor_name to first_name and last_name

In [42]:
df_actor_split = df_actor.copy()

In [43]:
for i in range(1,10,1):
    print(df_actor.loc[df_actor['actor_name'].str.split().str.len() == i])

            actor_name
9              Chester
243            Maïwenn
548       Brahmanandam
690               Bono
914             Amidou
1027      Raven-Symoné
1160               DMX
1167          Mo'Nique
1281             Topol
1307           Unknown
1311              Tabu
1411             Akima
1461              Lucy
1502       Prabhudheva
1651           Luenell
1825              Pelé
1863           Diganth
1903           Prateik
2068             Slash
2109           Steve-O
2285            Denden
2402  Circus-Szalewski
2451               Eve
2630       Laura-Leigh
2635             Drake
2862              Mako
2868              Flea
3129              T.I.
3295             Bhama
3346              Rain
3470             Lemmy
3649          Madhavan
3693               RZA
3926             Terry
3943           Charice
4115             Ice-T
4182           Prabhas
4185            Xzibit
4369             Björk
4374             Rekha
4452              Asin
4493           Revathy
4544         Will.i.am
4741           Aaliyah
4785           Ashanti
4828            Vanity
4856            Common
4894       Ann-Margret
5003            Fergie
5012              Remo
5099           Lalaine
5594         Valentine
5603              Akon
5684            Malika
5763            Divine
5848              Leon
6008         Matisyahu
6105              Pink
              actor_name
0          Perdita Weeks
1             Mark Moses
2       Fernanda Andrade
3      Bernadette Peters
6        Jonathan Frakes
...                  ...
6251           Nat Faxon
6252  Patrick Kilpatrick
6253        Sissy Spacek
6254            Qiu Yuen
6255        Cheryl Tiegs

[5714 rows x 1 columns]
                         actor_name
4                  Richard T. Jones
5                June Diane Raphael
28                  Anika Noni Rose
37                  Portia de Rossi
73               Rachel Ann Mullins
77              Derek Wayne Johnson
92                  Vincent De Paul
107                 Sameer Ali Khan
109                Jodi Lyn O'Keefe
114              David Julian Hirsh
115                Andrew Dice Clay
136            Roger Guenveur Smith
143                  Robert De Niro
166          Joanna 'JoJo' Levesque
170                Tom E. Nicholson
204              Michael Abbott Jr.
209                 Debra Lynn Hull
227             Marc John Jefferies
236              Brian Lee Franklin
271         Christopher James Baker
274                   Ane Dahl Torp
282              Mark De Alessandro
314               David Hyde Pierce
323                 Joshua Ray Bell
332                Cécile De France
345               Dennis L.A. White
353      Christopher Nicholas Smith
357                  Nicole de Boer
365             Keegan Connor Tracy
386            Alexandra Maria Lara
393         Anthony 'Citric' Campos
395                 John F. Kennedy
408            Nora von Waldstätten
411         Yayaying Rhatha Phongam
415        Anna Katharina Schwabroh
430                James Badge Dale
443                Soleil Moon Frye
451             Joseph Julian Soria
481              David Ogden Stiers
495          Maria Grazia Cucinotta
516          Philip Seymour Hoffman
531                   Bart the Bear
544                   Reg E. Cathey
550           Yorick van Wageningen
561              Chloë Grace Moretz
579           JoAnna Garcia Swisher
586           Ólafur Darri Ólafsson
620                Janet Lee Dapper
623            Danielle von Zerneck
627             Spencer Treat Clark
636               James Pickens Jr.
681            Riley Thomas Stewart
697              Dario Nozic Serini
725               Robert John Burke
739               Pedro Miguel Arce
750             Benjamin A. Onyango
791             Meredith Scott Lynn
843              Raoul Max Trujillo
871              Frances Lee McCain
872               Billy Aaron Brown
954             S. Epatha Merkerson
956           Kassie Wesley DePaiva
974                    David A Cole
981        Bhavkhandan Singh Rakhra
989                Tim Blake Nelson
1008               Victor Zinck Jr.
1028             Antonio Sabato Jr.
1029                      LL Cool J
1049              Tom Everett Scott
1064             Timothy Van Patten
1101              Jamie Renée Smith
1116                  Jill St. John
1120                    Si Won Choi
1136          Timothy Patrick Quill
1150              Nicole Ari Parker
1161             Brian d'Arcy James
1169            Synnøve Macody Lund
1175                Scott A. Martin
1179                 Gael Le Cornec
1186               Joel Paul Reisig
1231           Torey Michael Adkins
1235             Brian Austin Green
1238            Vanessa Lee Chester
1240                Pant Shirt Baba
1241             Brandon T. Jackson
1242                  Ed Begley Jr.
1257                 George W. Bush
1258                Jesse L. Martin
1278                Osama bin Laden
1299             Larry Joe Campbell
1314         Misha Gabriel Hamilton
1317                 Fedja van Huêt
1325           Katherine Kelly Lang
1327                 Carol Ann Susi
1328            David Adam Flannery
1344          Raquel Elizabeth Ames
1373            Wilhelm von Homburg
1374             Sammy Nagi Njuguna
1379           Jennifer Lee Wiggins
1390                Reza Sixo Safai
1392               Lucille La Verne
1406         Amir Farrokh Hashemian
1422           Jenni 'Jwoww' Farley
1427            Jose Pablo Cantillo
1429          Lawrence Gilliard Jr.
1454             Brendan Sexton III
1493                  Mark L. Young
1511               Mary Page Keller
1513          Lara Jean Chorostecki
1524        Fereshteh Sadre Orafaiy
1528              Marcus Lyle Brown
1530         Kevin Scott Richardson
1572           Siobhan Fallon Hogan
1641             Caleb Landry Jones
1643                Jason Scott Lee
1670            Michael C. Williams
1678                Mary Kate Wiles
1716                   Joe E. Brown
1722           Jonathan Morgan Heit
1750                 Angus T. Jones
1756                 Hal Landon Jr.
1760                  Ted de Corsia
1762         Zaide Silvia Gutiérrez
1774         Per Christian Ellefsen
1777            David Patrick Kelly
1788               Joel David Moore
1822             Gian Maria Volontè
1833             Jonathan D. Mellor
1855          Amber Marie Bollinger
1872            Thomas Ian Nicholas
1905             Walter Hendrix III
1911             Robin Atkin Downes
1966                George C. Scott
1967             Juan Luis Galiardo
1981            Matthew Gray Gubler
1986         Nicole Randall Johnson
2023               R. Marcos Taylor
2024               Cathryn de Prume
2026             S. William Hinzman
2036          Klaus Maria Brandauer
2064               Kevin G. Schmidt
2066                  Chi Ling Chiu
2067            Thomas Ian Griffith
2073                 Molly C. Quinn
2079         Natasha Gregson Wagner
2080           Angelo Anthony Pizza
2088               Diana Maria Riva
2103             Michael Des Barres
2104            Ashley Ashida Dixon
2106             Robert Kennedy Jr.
2108              Sammo Kam-Bo Hung
2112               Henry Ian Cusick
2118                  John Enos III
2127              Mary Lynn Rajskub
2134           Ana Claudia Talancón
2136           Jesse Tyler Ferguson
2143              Erik Per Sullivan
2167                 Kelvin Han Yee
2170              Philip Baker Hall
2174             Michael J. Pollard
2205             Mohammad Amir Naji
2214             Melvin Van Peebles
2223              Dee Bradley Baker
2226          Skye McCole Bartusiak
2260          James Cullen Bressack
2279            Keenen Ivory Wayans
2296             Patrick St. Esprit
2300               Steven Van Zandt
2301              Haley Joel Osment
2307            Matthew R. Anderson
2315               June Carter Cash
2327               Joyce Van Patten
2347               Roger Lloyd Pack
2351           Brandon Mychal Smith
2395              Travis Aaron Wade
2432            Ann Morgan Guilbert
2492              Lesley Ann Warren
2506      Steven Christopher Parker
2511                  Ward G. Smith
2513              Robert Downey Jr.
2518               David Alan Grier
2538              Julia Taylor Ross
2545          Christopher B. Duncan
2550         Athina Rachel Tsangari
2568                Robert J. Wilke
2571               David A.R. White
2572                 Neil Brown Jr.
2611               Damon Wayans Jr.
2614                 Luis E. Carazo
2626                 Jason K. Wixom
2627               Mary Tyler Moore
2634              Daniel von Bargen
2645               Yenny Paola Vega
2665                Eva Marie Saint
2687                Ernie Reyes Jr.
2691                Tommy the Clown
2692           George 'Buck' Flower
2700              Jean Louisa Kelly
2740                 Mary Kay Place
2741        Catalina Sandino Moreno
2753          Melissa Bardin Galsky
2757            Tracy Camilla Johns
2770          Mykel Shannon Jenkins
2779          David Frederick White
2807          Maria Conchita Alonso
2825           Kristin Scott Thomas
2827                 Al Freeman Jr.
2831               Paul F. Tompkins
2843                  Chi Chung Lam
2852             James Martin Kelly
2872                  Saif Ali Khan
2873                Kelly Jo Minter
2890                Jessie T. Usher
2893               Julie R. Ølgaard
2894           Eric Sheffer Stevens
2905      Catherine Lough Haggquist
2918            Sean Patrick Thomas
2944      Mark Christopher Lawrence
2947              Kimberly J. Brown
2950                Lisa Ann Walter
2961                   Hana Mae Lee
2964        Nicole 'Snooki' Polizzi
2965                      Li Jun Li
2978               Jack E. Curenton
2981            Serena Scott Thomas
3003             A. Michael Baldwin
3008        Björn Hlynur Haraldsson
3014                  Joe Don Baker
3035                Jay R. Ferguson
3060       Ingvar Eggert Sigurðsson
3073                Keri Lynn Pratt
3074             Olivia Rose Keegan
3091                 Drea de Matteo
3098                 Lloyd Avery II
3134                Sammy Davis Jr.
3135                 Rae Dawn Chong
3142            Ronnie Gene Blevins
3158             Jada Pinkett Smith
3170              David Jason Perez
3187       Bianca Brigitte VanDamme
3195                Randall Duk Kim
3208        James Robertson Justice
3213             Yousef 'Joe' Sweid
3214                Michael J. Burg
3236        William Morgan Sheppard
3253               Thomas Bo Larsen
3258                 Brian Van Holt
3266                  W. Earl Brown
3273             Isiah Whitlock Jr.
3275         Chris 'Wonder' Schoeck
3284           Charles Martin Smith
3305          Clarence Williams III
3317               Emma Eliza Regan
3318                Julie Dawn Cole
3321                 Jay O. Sanders
3333               Thomas F. Wilson
3345           Pedro Armendáriz Jr.
3371                    Boys II Men
3390              Roscoe Lee Browne
3393            John Buffalo Mailer
3399                    Lee J. Cobb
3429              Darren E. Burrows
3436         Michelle Simone Miller
3445           Daniel Giménez Cacho
3451           Stig Frode Henriksen
3459                   Sam J. Jones
3472             R. Brandon Johnson
3478            Penelope Ann Miller
3485        Monique Gabriela Curnen
3487          Zackary Steven Graham
3497         Steven Michael Quezada
3534          Eddie 'Piolin' Sotelo
3540                  Kim De Angelo
3542          Glenn Erland Tosterud
3554                  Ching Wan Lau
3582             Randall 'Tex' Cobb
3593            Alice Olivia Clarke
3603         Isaac Hempstead Wright
3626                 Isild Le Besco
3635           Terence Bernie Hines
3641               Garrett M. Brown
3661          Gregory Alan Williams
3667              Charles S. Dutton
3678              Jorge Luis Moreno
3699               Christa B. Allen
3700         Peter Youngblood Hills
3741              Robin Lord Taylor
3753            Juan Carlos Montoya
3762          Keshia Knight Pulliam
3784                Winter Ave Zoli
3789              Stanley B. Herman
3796               Lauren Lee Smith
3817                   Gus Van Sant
3859           Sean Cameron Michael
3864                 John de Lancie
3873          Sarah Michelle Gellar
3887               Raymond J. Barry
3904            Angelina Jolie Pitt
3914           Tyler James Williams
3915                Susan May Pratt
3930               Richard E. Grant
3939                    Ki Hong Lee
3947         Louis Ozawa Changchien
3970           Josh Robert Thompson
3983                Ana Maria Guran
4012            Paul Michael Glaser
4015        Steven Anthony Lawrence
4070              Rebecca De Mornay
4084              India de Beaufort
4087          Philip Michael Thomas
4102                   Doug E. Doug
4105                  Alan Hale Jr.
4106         Michael Aaron Milligan
4117       Natalie Stephany Aguilar
4137                Jessica De Gouw
4149           Anthony L. Fernandez
4154              Steve Le Marquand
4164            Kirby Bliss Blanton
4170              Randy Jay Burrell
4192           Wilbur 'Hi-Fi' White
4260               Amber Rose Revah
4281                 Rijk de Gooyer
4295          Edward Everett Horton
4298                Gilbert R. Hill
4306           John Michael Higgins
4318              Kate del Castillo
4330               Jamie Lee Curtis
4345              William Lee Scott
4354          John Cameron Mitchell
4382               Lou Taylor Pucci
4398               Larry Mullen Jr.
4405        Birgitte Hjort Sørensen
4426           Jennifer Jason Leigh
4435              Michael J. Morris
4453                 George T. Odom
4488          Sandra Ellis Lafferty
4492          Wendy Raquel Robinson
4494            Lindsay Kay Hayward
4516           John Patrick Amedori
4520              Aditya Roy Kapoor
4524                 Emma de Caunes
4576         Daniel Stewart Sherman
4597           Barry Shabaka Henley
4598             Eva Amurri Martino
4603             Amber Stevens West
4619              Nolan Gerard Funk
4620           Mohamad Haref Harati
4625               Bethany Joy Lenz
4638         Anthony Chau-Sang Wong
4643              Joey Lauren Adams
4671               Brían F. O'Byrne
4674                  James Le Gros
4679           James Patrick Stuart
4681      Jennifer Schwalbach Smith
4718               Lara Flynn Boyle
4733    Mary Elizabeth Mastrantonio
4746            Pruitt Taylor Vince
4759                Elina Abai Kyzy
4764              Jim Cody Williams
4768            Guro Nagelhus Schia
4769             Hope Olaide Wilson
4810              David Della Rocco
4811                 Leo G. Carroll
4831                 Shah Rukh Khan
4837         Tenzin Thuthob Tsarong
4839                 Hugh M. Hefner
4840             Emilio Estefan Jr.
4869              Harry Connick Jr.
4883              Isaach De Bankolé
4888             Peter Mark Richman
4897                    Chi Muoi Lo
4899             Paul Daniel Ayotte
4919              Laura San Giacomo
4931                David Lee Smith
4942            Ingrid Bolsø Berdal
4954            Ellen Albertini Dow
4969              David Alan Basche
4971                Tanya van Graan
4992                Harry Carey Jr.
5000                 Marco St. John
5037         Piper Mackenzie Harris
5078                  Brad Lee Wind
5081             Brent David Fraser
5101                Dick Van Patten
5104       Christopher Robin Miller
5113            James Arnold Taylor
5142          Gregory Scott Cummins
5151                 Tony Lo Bianco
5159               Paula Jai Parker
5200               Kevin Peter Hall
5210                 Joey D. Vieira
5239          Ayush Mahesh Khedekar
5242            Sean Michael Afable
5244  Shriman Umeshanad Brahmachari
5250                Craig T. Nelson
5272            Laird John Hamilton
5282              Eddie Kaye Thomas
5288              Yasmine Al Massri
5365       Kevin Michael Richardson
5380               Charlotte Le Bon
5382             Leon Isaac Kennedy
5389                 Crystal R. Fox
5397            Maria Doyle Kennedy
5404                 The Dalai Lama
5423        Brendan Doogie Milewski
5431             Omar Benson Miller
5464             Tonya Lee Williams
5485         Christopher Evan Welch
5487            Darren Keefe Reiher
5511                 M. Emmet Walsh
5514       Jacqueline MacInnes Wood
5521                 Alan D. Purwin
5555                 Lon Chaney Jr.
5558           Brian Anthony Wilson
5616                 Joe Lo Truglio
5623              Michael Jai White
5633               Lara Jill Miller
5634            Yvette Nicole Brown
5649          Kathleen Rose Perkins
5651                Jeremy W. Auman
5678                Kevin P. Farley
5685             Deborah Kara Unger
5696         Cedric the Entertainer
5701                  Vivica A. Fox
5703                Alan Van Sprang
5704             Dustin Lance Black
5707     Sigríður María Egilsdóttir
5718             John Gallagher Jr.
5735               Damian Jewan Lee
5746             Joaquim de Almeida
5779           Jean Pierre Bergeron
5781              Andrea Di Stefano
5796              Maria Pia Calzone
5808              Kevin J. O'Connor
5810                Karl E. Landler
5821                Emily Alyn Lind
5907             Tristan Mack Wilds
5911              Bonnie Lee Bouman
5912              F. Murray Abraham
5913            Megan Ambuhl Graner
5965                 Kari J. Kramer
5969             Aria Noelle Curzon
5971              Miguel Ángel Solá
5972           Charles Irving Beale
5986              Courtney B. Vance
5987                   Don S. Davis
6004            Justin Edward Seale
6065              Harley Jane Kozak
6067            Chris Andrew Ciulla
6068                 D. David Morin
6072              Mario Van Peebles
6074                André the Giant
6093            Bryce Dallas Howard
6099                Chad L. Coleman
6109               Lauren C. Mayhew
6119                 Paul T. Taylor
6128             Toby Leonard Moore
6140        Mary Catherine Garrison
6147             Brad William Henke
6199             Jeffrey W. Jenkins
6206                  Mary J. Blige
6223            Clifton Collins Jr.
6230            Abby Mukiibi Nkaaga
6234               Zachery Ty Bryan
6246             Bobb'e J. Thompson
                        actor_name
124            Rodrigo De la Serna
589            Tony Chiu Wai Leung
610            Larry the Cable Guy
877          Anneliese van der Pol
1204     Paul 'Pauly D' DelVecchio
1531     José Manuel Orozco Angulo
2133             Ana de la Reguera
2563        William Joseph Elk III
3725           Antonio de la Torre
3800    Tulku Jamyang Kunga Tenzin
4134  Balinese Tari Legong Dancers
4173         Cristián de la Fuente
4389              Paz de la Huerta
4546        Mike 'The Miz' Mizanin
4582        Collin Alfredo St. Dic
4702          Puti Sri Candra Dewi
5344        Isaac C. Singleton Jr.
5392          Benjamin J. Cain Jr.
5578           Miguel A. Núñez Jr.
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []

In [44]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1]

            actor_name
9              Chester
243            Maïwenn
548       Brahmanandam
690               Bono
914             Amidou
1027      Raven-Symoné
1160               DMX
1167          Mo'Nique
1281             Topol
1307           Unknown
1311              Tabu
1411             Akima
1461              Lucy
1502       Prabhudheva
1651           Luenell
1825              Pelé
1863           Diganth
1903           Prateik
2068             Slash
2109           Steve-O
2285            Denden
2402  Circus-Szalewski
2451               Eve
2630       Laura-Leigh
2635             Drake
2862              Mako
2868              Flea
3129              T.I.
3295             Bhama
3346              Rain
3470             Lemmy
3649          Madhavan
3693               RZA
3926             Terry
3943           Charice
4115             Ice-T
4182           Prabhas
4185            Xzibit
4369             Björk
4374             Rekha
4452              Asin
4493           Revathy
4544         Will.i.am
4741           Aaliyah
4785           Ashanti
4828            Vanity
4856            Common
4894       Ann-Margret
5003            Fergie
5012              Remo
5099           Lalaine
5594         Valentine
5603              Akon
5684            Malika
5763            Divine
5848              Leon
6008         Matisyahu
6105              Pink

In [45]:
df_actor_split

              actor_name
0          Perdita Weeks
1             Mark Moses
2       Fernanda Andrade
3      Bernadette Peters
4       Richard T. Jones
...                  ...
6251           Nat Faxon
6252  Patrick Kilpatrick
6253        Sissy Spacek
6254            Qiu Yuen
6255        Cheryl Tiegs

[6256 rows x 1 columns]

In [46]:
df_actor_split.isnull().sum()

actor_name    0
dtype: int64

In [47]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1, 'last_name'] = df_actor_split['actor_name'].str.split().str[0]

In [48]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 2, 'first_name'] = df_actor_split['actor_name'].str.split().str[-2]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 2, 'last_name'] = df_actor_split['actor_name'].str.split().str[-1]

In [49]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 3, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 3, 'last_name'] = df_actor_split['actor_name'].str.split().str[-2] + ' ' + df_actor_split['actor_name'].str.split().str[-1]

In [50]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 4, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 4, 'last_name'] = df_actor_split['actor_name'].str.split().str[-3] + ' ' + df_actor_split['actor_name'].str.split().str[-2] + ' ' + df_actor_split['actor_name'].str.split().str[-1]

In [51]:
df_actor_split.isnull().sum()

actor_name    0
first_name    0
last_name     0
dtype: int64

In [52]:
#export to csv
df_actor_split.to_csv('df_actor_split.csv', index = False)

#### prepare genres.csv

In [53]:
df_cp['genres'].value_counts()

Drama                                                     233
Comedy                                                    205
Comedy|Drama                                              189
Comedy|Drama|Romance                                      185
Comedy|Romance                                            157
                                                         ...
Crime|Drama|History                                         1
Action|Animation|Comedy|Family|Fantasy|Sci-Fi               1
Biography|Crime|Drama|History|Thriller                      1
Adventure|Animation|Comedy|Drama|Family|Fantasy|Sci-Fi      1
Comedy|Crime|Horror                                         1
Name: genres, Length: 914, dtype: int64

In [54]:
genres = df_cp['genres'].unique()

In [55]:
df_genres= pd.DataFrame(genres, columns=['genres'])

In [56]:
# separate genre with | and then stack them
stacked = pd.DataFrame(df_genres.genres.str.split(pat='|').tolist()).stack()

In [57]:
stacked

0    0       Action
     1    Adventure
     2      Fantasy
     3       Sci-Fi
1    0       Action
            ...
912  1        Drama
     2       Horror
913  0       Comedy
     1        Crime
     2       Horror
Length: 3569, dtype: object

In [61]:
genres = pd.DataFrame(stacked.value_counts().index.to_list(), columns = ["genres"])

In [62]:
genres

         genres
0         Drama
1        Comedy
2     Adventure
3        Action
4      Thriller
5       Romance
6       Fantasy
7        Family
8        Sci-Fi
9         Crime
10      Mystery
11       Horror
12    Animation
13    Biography
14          War
15      History
16      Musical
17        Music
18      Western
19        Sport
20  Documentary
21    Film-Noir
22        Short
23         News
24   Reality-TV
25    Game-Show

In [59]:
#genres = genres.sort_values(by="genres", inplace=False, ignore_index=True)

In [63]:
genres.to_csv('genres.csv')