# Etude sur Développez un moteur de recommandation de films

Un site sur le cinéma vous contacte, car ils souhaitent lancer un moteur de recommandation de film pour sauver les soirées ciné de leurs futurs clients. Pour ce faire, vous devrez créer un moteur de recommandations de films. Le seul problème : il n'y a pas encore d’utilisateurs.

#### Contexte du projet

Votre client, vous communique une base de données publique d’informations sur des films, à défaut d'avoir des données sur leurs utilisateurs. https://www.dropbox.com/s/5779djv4tefh6vz/imdb-5000-movie-dataset%20%281%29.zip?dl=0

À l’aide de méthodes non supervisées vous devrez élaborer un système capable de retourner 5 recommandations de films similaires et intéressants pour le visiteur. Ceci à partir d’un nom de film (ou un id).

#### Modalités pédagogiques

Travail individuel. Le travail implique de faire du traitement de texte et notamment pour le feature engineering. Pour cela voici des ressources pour monter en compétence :

cours : https://www.dropbox.com/sh/jinhd7xyjq8gmxi/AAAXcjnfKGIB5gRBE3iI_3JPa?dl=0

https://www.dropbox.com/sh/6p3eqo93l85oj67/AADI0DkLpKHAmPy_h4KksX5ja?dl=0

​

exos : https://www.dropbox.com/sh/rgcc3mrs7hsvk5z/AAA4Rtcah1SKOqqUI3vgrsdGa?dl=0

#### Critères de performance

    Analyse exploratoire propre et commentée
    Veille synthétique et claire
    Choix de la démarche de modélisation pertinente
    Sélection des variables de la base de modélisation pertinente
    Tests de plusieurs algorithmes avec évaluation de la performance
    Choix du modèle final justifié

### 1 - import librarys

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

### 2 - set option pour l'affichage

In [2]:
pd.set_option("max_columns", None)
pd.set_option("max_colwidth", None)
pd.set_option("max_row", 500)

### 3 - read dataset

In [3]:
df = pd.read_csv( "movie_metadata.csv")

In [4]:
df.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None

### nettoyage des données

In [6]:
# make a copy of data set
df_cp = df.copy()

#### J'enlève "\xa0" après movie_title

In [7]:
df_cp['movie_title']=='Avatar\xa0'

0        True
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: movie_title, Length: 5043, dtype: bool

In [8]:
# remove all the space after titles
df_cp['movie_title'] = df_cp['movie_title'].str.strip(' ')

In [9]:
# \xa0 is actually non-breaking space in Latin1 (ISO 8859-1), also chr(160). You should replace it with a space.
df_cp['movie_title'] = df_cp['movie_title'].str[:-1]

In [10]:
df_cp['movie_title']=='Avatar\xa0'

0       False
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: movie_title, Length: 5043, dtype: bool

#### J'enlève des mêmes titles de movies.

In [11]:
df_cp[df_cp['movie_title']=='Ben-Hur']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
367,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,57,13379,Moises Arias,2.0,NaN,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,NaN,2016.0,745.0,6.1,2.35,0
2613,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,62,13390,Moises Arias,2.0,chariot race|epic|false accusation|jerusalem|slave,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,100000000.0,2016.0,744.0,6.1,2.35,0
3967,Color,Timur Bekmambetov,1.0,141.0,335.0,635.0,Ayelet Zurer,11000.0,NaN,Adventure|Drama|History,Morgan Freeman,Ben-Hur,67,13391,Moises Arias,2.0,chariot race|epic|false accusation|jerusalem|slave,http://www.imdb.com/title/tt2638144/?ref_=fn_tt_tt_1,1.0,English,USA,PG-13,100000000.0,2016.0,744.0,6.0,2.35,0

In [12]:
df_cp.movie_title.value_counts()

The Fast and the Furious    3
Ben-Hur                     3
Home                        3
Victor Frankenstein         3
King Kong                   3
                           ..
The Whole Ten Yards         1
North Country               1
88 Minutes                  1
Love & Other Drugs          1
My Date with Drew           1
Name: movie_title, Length: 4916, dtype: int64

In [13]:
# drop_duplicates() remove duplicates from the data frame
df_cp = df_cp.drop_duplicates(subset=['director_name','movie_title'],keep='last')

In [14]:
df_cp.movie_title.value_counts()

Out of the Blue                        2
The Host                               2
The Dead Zone                          2
Avatar                                 1
Held Up                                1
                                      ..
Trapped                                1
Barney's Version                       1
The Imaginarium of Doctor Parnassus    1
An Unfinished Life                     1
My Date with Drew                      1
Name: movie_title, Length: 4916, dtype: int64

These 3 films have different director names, it means they are not identic.

In [15]:
df_cp[df_cp['movie_title']=='The Dead Zone']

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
2702,Color,NaN,18.0,60.0,NaN,186.0,Nicole de Boer,443.0,NaN,Drama|Fantasy|Mystery|Sci-Fi,David Ogden Stiers,The Dead Zone,7122,981,Chris Bruno,1.0,psychic|psychic power|psychometry|spin off|supernatural power,http://www.imdb.com/title/tt0281432/?ref_=fn_tt_tt_1,77.0,English,Canada,TV-14,NaN,NaN,319.0,7.5,NaN,576
3130,Color,David Cronenberg,112.0,103.0,0.0,275.0,Herbert Lom,1000.0,NaN,Horror|Sci-Fi|Thriller,Tom Skerritt,The Dead Zone,44804,2013,Anthony Zerbe,0.0,car accident|coma|evil politician|psychic|vision,http://www.imdb.com/title/tt0085407/?ref_=fn_tt_tt_1,182.0,English,USA,R,10000000.0,1983.0,278.0,7.2,1.85,0

In [16]:
#df_cp.index.unique()

#### remplacer Nan par strings

In [17]:
df_cp.head(1)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,4834,Wes Studi,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000

In [18]:
# fill string type columns in with Unknown/Unrated if it is Null for 3NF
# at the end we will not use unknown words for ai
df_cp = df_cp.fillna({'color':'Unknown', 
           'director_name':'Unknown', 
           'actor_2_name':'Unknown', 
           'genres':'Unknown',
           'actor_1_name':'Unknown', 
           'actor_3_name':'Unknown', 
           'plot_keywords':'Unknown', 
           'movie_imdb_link':'Unknown',
           'language':'Unknown',
           'country': 'Unknown',
           'content_rating':'Unrated'
          })

In [19]:
df_cp[df_cp['director_name'] == 'Unknown'].head(2)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,actor_1_name,movie_title,num_voted_users,cast_total_facebook_likes,actor_3_name,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
177,Color,Unknown,21.0,60.0,NaN,184.0,Philip Michael Thomas,982.0,NaN,Action|Crime|Drama|Mystery|Thriller,Don Johnson,Miami Vice,16769,1687,John Diehl,2.0,cult tv|detective|drugs|police|undercover,http://www.imdb.com/title/tt0086759/?ref_=fn_tt_tt_1,74.0,English,USA,TV-14,1500000.0,NaN,321.0,7.5,1.33,0
260,Color,Unknown,29.0,60.0,NaN,432.0,Dirk Benedict,669.0,NaN,Action|Adventure|Crime,George Peppard,The A-Team,25402,1655,Dwight Schultz,4.0,1980s|cult tv|famous opening theme|good versus evil|hero for hire,http://www.imdb.com/title/tt0084967/?ref_=fn_tt_tt_1,97.0,English,USA,TV-PG,NaN,NaN,554.0,7.6,4.00,0

In [20]:
# fill numeric (int, float) type columns in with -1 if it is Null
df_cp = df_cp.fillna({'num_critic_for_reviews':-1, 
           'duration':-1, 
           'director_facebook_likes':-1, 
           'actor_3_facebook_likes':-1, 
           'actor_1_facebook_likes':-1, 
           'gross':-1,
           'num_voted_users':-1,
           'cast_total_facebook_likes':-1,
           'facenumber_in_poster':-1,
           'num_user_for_reviews':-1,
           'budget':-1,
           'title_year':-1,
           'actor_2_facebook_likes':-1,
           'imdb_score':-1,
           'aspect_ratio':-1,
           'movie_facebook_likes':-1
          })

#df_cp = df_cp.fillna(-1)

In [21]:
df_cp.isnull().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [22]:
df_cp.shape

(4919, 28)

In [23]:
# change title_year type to int
df_cp['title_year'] = df_cp['title_year'].astype(int)

In [24]:
#export to csv
df_cp.to_csv('movie.csv', index = False)

#### prepare director csv

In [25]:
director = df_cp['director_name'].unique()

In [26]:
director

array(['James Cameron', 'Gore Verbinski', 'Sam Mendes', ...,
       'Scott Smith', 'Benjamin Roberds', 'Daniel Hsia'], dtype=object)

In [27]:
df_director = pd.DataFrame(director, columns=['director_name'])

In [28]:
#export to csv
df_director.to_csv('df_director.csv', index = False)

#### Je vais spliter director_name to first_name and last_name

In [29]:
df_director_split = df_director.copy()

In [30]:
for i in range(1,10,1):
    print(df_director.loc[df_director['director_name'].str.split().str.len() == i])

     director_name
30             McG
106        Unknown
171          Pitof
462   Costa-Gavras
1114           RZA
1409       Maïwenn
1667        Shekar
1947          Remo
2333     Valentine
          director_name
0         James Cameron
1        Gore Verbinski
2            Sam Mendes
3     Christopher Nolan
4           Doug Walker
...                 ...
2393      Shane Carruth
2395    Anthony Vallone
2396        Scott Smith
2397   Benjamin Roberds
2398        Daniel Hsia

[2182 rows x 1 columns]
                  director_name
34           Guillermo del Toro
88          Jennifer Yuh Nelson
89           M. Night Shyamalan
101                  Jon M. Chu
107       Alejandro G. Iñárritu
130         Mark Steven Johnson
133             James L. Brooks
137               Kirk De Micco
149                 Jan de Bont
183        Michael Patrick King
198              Brian De Palma
200              Alan J. Pakula
205          Paul W.S. Anderson
262                F. Gary Gray
300         Phil Alden Robinson
319              David S. Goyer
328         Keenen Ivory Wayans
352            David O. Russell
408        Francis Ford Coppola
425     Rawson Marshall Thurber
441          Jorge R. Gutiérrez
460          David Gordon Green
463        Patrick Read Johnson
491              David R. Ellis
493               John A. Davis
502          Billy Bob Thornton
504          George P. Cosmatos
511                Gus Van Sant
517        Joseph L. Mankiewicz
524         Julie Anne Robinson
536         Angelina Jolie Pitt
539             Mark A.Z. Dippé
555            Frederik Du Chau
567              Malcolm D. Lee
572               Marc F. Adler
575           Peter Ho-Sun Chan
579           Charles S. Dutton
589        Paul Thomas Anderson
598        Charles Martin Smith
605            John Lee Hancock
607       Kevin Rodney Sullivan
611         Gary David Goldberg
643          George Tillman Jr.
668          John Francis Daley
688          Lee Toland Krieger
692         Paul Michael Glaser
693            John R. Leonetti
699         Stephen J. Anderson
706           Charles Stone III
721            Richard J. Lewis
723           Niels Arden Oplev
748             Robert B. Weide
750          Agustín Díaz Yanes
762            E. Elias Merhige
792            Dwight H. Little
797         Damien Dante Wayans
804            Philip G. Atwell
806            Don Michael Paul
822             Craig R. Baxley
827             Jeffrey W. Byrd
838           Mario Van Peebles
877        Juan José Campanella
881        Joshua Michael Stern
902        John Patrick Shanley
911             Jim Field Smith
913          William Brent Bell
922          Michael J. Bassett
934           Michael O. Sajbel
935         Charles T. Kanganis
948           Mabrouk El Mechri
978            George A. Romero
989           William A. Fraker
1002              Tran Anh Hung
1012             Brian A Miller
1026            Sidney J. Furie
1027           Ian Iqbal Rashid
1032          Andrea Di Stefano
1044        Perry Andelin Blake
1045  Christian E. Christiansen
1069            Tommy Lee Jones
1087       Nicolas Winding Refn
1089    Juan Carlos Fresnadillo
1093  Elizabeth Allen Rosenbaum
1102             Mark L. Lester
1121          Tina Gordon Chism
1127          Katja von Garnier
1152             Lars von Trier
1155         Vidhu Vinod Chopra
1206                John H. Lee
1222      Franklin J. Schaffner
1223          John Erick Dowdle
1231        Ernest R. Dickerson
1232           Lionel C. Martin
1264              David S. Ward
1273          William A. Graham
1291        Darren Lynn Bousman
1310          Robert Ben Garant
1316       Michael Patrick Jann
1401       Ole Christian Madsen
1407        Roland Suso Richter
1413           David E. Talbert
1422        Vipul Amrutlal Shah
1425           John G. Avildsen
1438              Peter R. Hunt
1469         David Webb Peoples
1475      Charles Robert Carner
1507      Shari Springer Berman
1509   Stephen Milburn Anderson
1510           Richard E. Grant
1514           Robert C. Cooper
1516         Jackie Earle Haley
1527       Sterling Van Wagenen
1529         Hans Petter Moland
1533            George Roy Hill
1539          Sammo Kam-Bo Hung
1543         Risa Bramon Garcia
1546         Raymond De Felitta
1547      John Michael McDonagh
1552      John Cameron Mitchell
1560          Joey Lauren Adams
1571    Christopher M. Bessette
1574            Ashish R. Mohan
1584    Rakeysh Omprakash Mehra
1593          David F. Sandberg
1609           Tim Blake Nelson
1641           Feroz Abbas Khan
1647          Morgan J. Freeman
1651       Paul Andrew Williams
1653            William H. Macy
1679              Mike van Diem
1694           Cecil B. DeMille
1708           Rick de Oliveira
1719            Robert Lee King
1720       Jorge Ramírez Suárez
1727              Peter H. Hunt
1751        Anthony C. Ferrante
1756           Warren P. Sonoda
1763          Daniel Petrie Jr.
1794             Peter M. Cohen
1804         Michael Landon Jr.
1820          Michael Jai White
1833         John Carl Buechler
1838         Alex van Warmerdam
1849          Tommy Lee Wallace
1860         Michael D. Sellers
1878      Harmage Singh Kalirai
1888      David Robert Mitchell
1953            J. Lee Thompson
1966           Steven R. Monroe
1970          Brad J. Silverman
1972          David M. Matthews
2006       Timothy Woodward Jr.
2016        Leslie H. Martinson
2017            Robert M. Young
2037      James David Pasternak
2041           Adam Jay Epstein
2042     Justin Thomas Ostensen
2054        Matthew R. Anderson
2067             Robert D. Webb
2083       José Luis Valenzuela
2105              A. Raven Cruz
2113             Mary Pat Kelly
2119         Stefan C. Schaefer
2124          Jeffrey St. Jules
2138            Ric Roman Waugh
2139                 C. Jay Cox
2147        Georg Wilhelm Pabst
2163      Jennifer Wynne Farmer
2164   Christopher Scott Cherot
2183          U. Roberto Romano
2184           Amy Holden Jones
2189          John 'Bud' Cardos
2193         Barry W. Blaustein
2198          Jacob Aaron Estes
2203      Marius A. Markevicius
2210            Alex Craig Mann
2213        Michael Hoffman Jr.
2217        Fernando Baez Mella
2219         Justin Paul Miller
2220           Joel Paul Reisig
2245           Henry Alex Rubin
2260            John D. Hancock
2264        Jerome Elston Scott
2269              Ken Del Conte
2271       Piyush Dinker Pandya
2296            Al Silliman Jr.
2300             David G. Evans
2306        Carl Theodor Dreyer
2311            C. Fraser Press
2317  Nicolae Constantin Tanase
2319         Melvin Van Peebles
2322         Michel Orion Scott
2336         Nathan Smith Jones
2338          Harry F. Millarde
2347          Patrick Ryan Sims
2362          Terron R. Parsons
2374         Collin Joseph Neal
2375          Bradley Rust Gray
2391         Thomas L. Phillips
2394           Neill Dela Llana
                         director_name
616                 Steven E. de Souza
1184            Preston A. Whitmore II
1192          Daisy von Scherler Mayer
1318  Florian Henckel von Donnersmarck
1362                Álex de la Iglesia
1671              Analeine Cal y Mayor
1722           Fernando León de Aranoa
2051             Regardt van den Bergh
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []
Empty DataFrame
Columns: [director_name]
Index: []

In [31]:
df_director_split.iloc[610:620]

           director_name
610   Patrick Tatopoulos
611  Gary David Goldberg
612            Alan Poul
613      Luke Greenfield
614           Gil Junger
615      Michael Ritchie
616   Steven E. de Souza
617        Alexandre Aja
618        Michael Rymer
619          Hugh Wilson

In [32]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 1, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 1, 'last_name'] = df_director_split['director_name'].str.split().str[-1]

In [33]:
# split director_name into last_name and first_name if director_name composed only 2 names
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 2, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 2, 'last_name'] = df_director_split['director_name'].str.split().str[-1]

In [34]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 3, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 3, 'last_name'] = df_director_split['director_name'].str.split().str[-2] + ' ' + df_director_split['director_name'].str.split().str[-1]

In [35]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4, 'first_name'] = df_director_split['director_name'].str.split().str[0]
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4, 'last_name'] = df_director_split['director_name'].str.split().str[-3] + ' ' + df_director_split['director_name'].str.split().str[-2] + ' ' + df_director_split['director_name'].str.split().str[-1]

In [36]:
df_director_split.loc[df_director_split['director_name'].str.split().str.len() == 4]

                         director_name first_name                 last_name
616                 Steven E. de Souza     Steven               E. de Souza
1184            Preston A. Whitmore II    Preston            A. Whitmore II
1192          Daisy von Scherler Mayer      Daisy        von Scherler Mayer
1318  Florian Henckel von Donnersmarck    Florian  Henckel von Donnersmarck
1362                Álex de la Iglesia       Álex             de la Iglesia
1671              Analeine Cal y Mayor   Analeine               Cal y Mayor
1722           Fernando León de Aranoa   Fernando            León de Aranoa
2051             Regardt van den Bergh    Regardt             van den Bergh

In [37]:
df_director_split.shape

(2399, 3)

In [38]:
#export to csv
df_director_split.to_csv('df_director_split.csv', index = False)

#### prepare actor.csv

In [39]:
from itertools import chain

df_actor123 = df_cp[['actor_1_name','actor_2_name','actor_3_name']]
actor_unique = list(set(chain.from_iterable(df_actor123.values)))
df_actor = pd.DataFrame(actor_unique, columns=['actor_name'])

In [40]:
df_actor.nunique()

actor_name    6256
dtype: int64

In [41]:
#export to csv
df_actor.to_csv('df_actor.csv', index = False)

#### Je vais spliter actor_name to first_name and last_name

In [42]:
df_actor_split = df_actor.copy()

In [43]:
for i in range(1,10,1):
    print(df_actor.loc[df_actor['actor_name'].str.split().str.len() == i])

            actor_name
20                Akon
21        Brahmanandam
676        Ann-Margret
749               T.I.
909              Bhama
978               Pelé
1094           Steve-O
1206           Lalaine
1226       Prabhudheva
1291           Maïwenn
1343            Divine
1415             Ice-T
1517           Revathy
1572              Flea
1731              Mako
1899              Bono
2106           Charice
2167           Luenell
2280               Eve
2571           Chester
2944          Mo'Nique
3020            Xzibit
3065              Leon
3088              Remo
3106             Slash
3129            Denden
3172            Common
3314             Akima
3434             Topol
3565           Aaliyah
3724             Rekha
3835             Terry
3868           Prabhas
4020       Laura-Leigh
4035              Pink
4037            Malika
4054          Madhavan
4201             Lemmy
4207              Rain
4235           Prateik
4243         Will.i.am
4401             Björk
4526             Drake
4529         Valentine
4811  Circus-Szalewski
4902      Raven-Symoné
4919            Fergie
4989            Vanity
4998              Tabu
5376           Diganth
5559               DMX
5601              Lucy
5638           Unknown
5799           Ashanti
6018            Amidou
6094              Asin
6195         Matisyahu
6221               RZA
             actor_name
0       Michael Chapman
1         Martin Sharpe
2     Jordan Trovillion
3           Akie Kotabe
4     Kamatari Fujiwara
...                 ...
6251       Yayan Ruhian
6252         Ivan Dixon
6253    Fernanda Torres
6254       Kang-ho Song
6255  Isaiah Washington

[5714 rows x 1 columns]
                         actor_name
36                     Doug E. Doug
56             Nora von Waldstätten
73               Sammy Nagi Njuguna
74             Siobhan Fallon Hogan
75                   D. David Morin
105                     Boys II Men
126               Kimberly J. Brown
130              Brandon T. Jackson
138            Jennifer Lee Wiggins
145           Sandra Ellis Lafferty
158            Brandon Mychal Smith
159                  Luis E. Carazo
167               F. Murray Abraham
180                 Pant Shirt Baba
185                 Scott A. Martin
214              Tonya Lee Williams
230         Mary Catherine Garrison
272        Natalie Stephany Aguilar
306             S. Epatha Merkerson
308           Amber Marie Bollinger
316                 Keri Lynn Pratt
319          Chris 'Wonder' Schoeck
320            Mohamad Haref Harati
337              Mohammad Amir Naji
358          Anthony Chau-Sang Wong
373          Natasha Gregson Wagner
390            Riley Thomas Stewart
462           Eddie 'Piolin' Sotelo
467                 Sammy Davis Jr.
477                 George C. Scott
519           Christopher B. Duncan
522                 Julie Dawn Cole
537               Julia Taylor Ross
538           Gregory Scott Cummins
540           Kathleen Rose Perkins
551                 Jessica De Gouw
553            John Michael Higgins
559          Peter Youngblood Hills
562               Mary Lynn Rajskub
567                  Joey D. Vieira
580                  Shah Rukh Khan
593                Thomas Bo Larsen
634        Christopher Robin Miller
653          Athina Rachel Tsangari
659               Nicole Ari Parker
672                  Rae Dawn Chong
687                 Eva Marie Saint
691               Haley Joel Osment
696            Alexandra Maria Lara
697                  John de Lancie
707             Derek Wayne Johnson
716                   Brad Lee Wind
717               Courtney B. Vance
720                Yenny Paola Vega
721            Eric Sheffer Stevens
726       Mark Christopher Lawrence
769            Daniel Giménez Cacho
773                 Jessie T. Usher
790                 Emily Alyn Lind
807             Matthew R. Anderson
809                 Craig T. Nelson
813                    David A Cole
849   Shriman Umeshanad Brahmachari
866                Amber Rose Revah
892           Melissa Bardin Galsky
934                 Osama bin Laden
946               Kate del Castillo
956                 Winter Ave Zoli
969               Joey Lauren Adams
974               India de Beaufort
987                 Jason Scott Lee
994                    Sam J. Jones
1023     Christopher Nicholas Smith
1042              William Lee Scott
1056     Sigríður María Egilsdóttir
1084             Mark De Alessandro
1096         Steven Michael Quezada
1133               Emma Eliza Regan
1144         Nicole Randall Johnson
1145             Deborah Kara Unger
1150                Michael J. Burg
1153              Dee Bradley Baker
1170              Jim Cody Williams
1176             Hope Olaide Wilson
1214         Isaac Hempstead Wright
1236                 Jay O. Sanders
1255         Piper Mackenzie Harris
1259             Frances Lee McCain
1262              Nolan Gerard Funk
1263          Glenn Erland Tosterud
1279             Robert Kennedy Jr.
1282              Aditya Roy Kapoor
1298       Bhavkhandan Singh Rakhra
1317          JoAnna Garcia Swisher
1320            Angelina Jolie Pitt
1329            Thomas Ian Nicholas
1400             Joaquim de Almeida
1408        Steven Anthony Lawrence
1427               Bethany Joy Lenz
1435            Lindsay Kay Hayward
1437              Yasmine Al Massri
1453               Lou Taylor Pucci
1483            Tracy Camilla Johns
1490              Isaach De Bankolé
1514                Dick Van Patten
1522              Travis Aaron Wade
1557              Eddie Kaye Thomas
1570                 Marco St. John
1584               Thomas F. Wilson
1590           Sean Cameron Michael
1592          Philip Michael Thomas
1595             Brian Austin Green
1606                      LL Cool J
1608               Christa B. Allen
1630            Maria Doyle Kennedy
1641                Robert J. Wilke
1651               Larry Mullen Jr.
1660              Robin Lord Taylor
1662              Harley Jane Kozak
1696             A. Michael Baldwin
1699            Ronnie Gene Blevins
1701               Julie R. Ølgaard
1738         Michael Aaron Milligan
1743                  Ted de Corsia
1751                 George T. Odom
1769          Ólafur Darri Ólafsson
1779               Cécile De France
1791             Jada Pinkett Smith
1799          Sarah Michelle Gellar
1816         Zaide Silvia Gutiérrez
1858              James Pickens Jr.
1863             Larry Joe Campbell
1879             Brad William Henke
1912         Tenzin Thuthob Tsarong
1913            Chris Andrew Ciulla
1919               Richard E. Grant
1924                  Chi Ling Chiu
1929             Antonio Sabato Jr.
1932             Caleb Landry Jones
1936          Timothy Patrick Quill
1937            Ellen Albertini Dow
1946          Raquel Elizabeth Ames
1964         Christopher Evan Welch
1986           Barry Shabaka Henley
1987           Terence Bernie Hines
2002              David Hyde Pierce
2006               Brían F. O'Byrne
2021               Raymond J. Barry
2022             Timothy Van Patten
2023                 Carol Ann Susi
2026             Jeffrey W. Jenkins
2049             John Gallagher Jr.
2050             Leon Isaac Kennedy
2056            Alice Olivia Clarke
2090               Kevin G. Schmidt
2100                    Si Won Choi
2118          Kassie Wesley DePaiva
2124                 Leo G. Carroll
2125          Clarence Williams III
2131               Roger Lloyd Pack
2132                 Angus T. Jones
2188               Lauren Lee Smith
2216          Keshia Knight Pulliam
2232              Tom Everett Scott
2236             Dario Nozic Serini
2262              Kevin J. O'Connor
2298             David Ogden Stiers
2307         Philip Seymour Hoffman
2317          David Frederick White
2331            Yvette Nicole Brown
2336                 Molly C. Quinn
2352                Karl E. Landler
2361              Harry Connick Jr.
2378            Guro Nagelhus Schia
2382                 Al Freeman Jr.
2452            Paul Michael Glaser
2454            Pruitt Taylor Vince
2460          Klaus Maria Brandauer
2500       Kevin Michael Richardson
2506               Lara Flynn Boyle
2532              Michael Jai White
2567             Brian Lee Franklin
2568          Yorick van Wageningen
2591                 Alan D. Purwin
2618          Wendy Raquel Robinson
2635         Joanna 'JoJo' Levesque
2642              Darren E. Burrows
2651               Lara Jill Miller
2657               Jack E. Curenton
2659           Brian Anthony Wilson
2660            Vanessa Lee Chester
2694           Katherine Kelly Lang
2708             Tristan Mack Wilds
2724               Henry Ian Cusick
2770               Paul F. Tompkins
2775            Matthew Gray Gubler
2776          Gregory Alan Williams
2791              Robert John Burke
2801            Keenen Ivory Wayans
2830               Jamie Lee Curtis
2835              Steve Le Marquand
2839            Jose Pablo Cantillo
2853              Daniel von Bargen
2867                Kelly Jo Minter
2869              Billy Aaron Brown
2871                  Vivica A. Fox
2934              Rebecca De Mornay
2941              Randy Jay Burrell
2945            Bryce Dallas Howard
2953             Paul Daniel Ayotte
2963                 Crystal R. Fox
2966                    Chi Muoi Lo
2980                 Hugh M. Hefner
2983                 Kelvin Han Yee
3007             Juan Luis Galiardo
3030                Randall Duk Kim
3032            Abby Mukiibi Nkaaga
3036         Maria Grazia Cucinotta
3042        Monique Gabriela Curnen
3078           Josh Robert Thompson
3095           Charles Martin Smith
3103            Synnøve Macody Lund
3115                Mary Kate Wiles
3140                 Nicole de Boer
3147                  Ward G. Smith
3161          John Cameron Mitchell
3204                Jay R. Ferguson
3211               Mary Tyler Moore
3212          Mykel Shannon Jenkins
3228                Chad L. Coleman
3260               Joel Paul Reisig
3275               Diana Maria Riva
3299                 Gael Le Cornec
3306            John Buffalo Mailer
3323                Debra Lynn Hull
3331              Robert Downey Jr.
3370                  Ane Dahl Torp
3393           Jennifer Jason Leigh
3400             Dustin Lance Black
3411                 Rijk de Gooyer
3413        Fereshteh Sadre Orafaiy
3414                Tanya van Graan
3430               Mary Page Keller
3431                Kevin P. Farley
3437           John Patrick Amedori
3448                   Hana Mae Lee
3454          Ayush Mahesh Khedekar
3459            Megan Ambuhl Graner
3467        Brendan Doogie Milewski
3484           Ana Claudia Talancón
3491                Vincent De Paul
3492                 Lloyd Avery II
3496            Sean Michael Afable
3508                Anika Noni Rose
3523            Clifton Collins Jr.
3535           Angelo Anthony Pizza
3545            James Arnold Taylor
3561        Christopher James Baker
3579                Gilbert R. Hill
3597      Steven Christopher Parker
3598                 Neil Brown Jr.
3612             Aria Noelle Curzon
3624               Victor Zinck Jr.
3630             Brent David Fraser
3632             Olivia Rose Keegan
3683                 Fedja van Huêt
3690               Garrett M. Brown
3694              Pedro Miguel Arce
3697                 Mary Kay Place
3735                Joshua Ray Bell
3736       Jacqueline MacInnes Wood
3761             Rachel Ann Mullins
3768                Harry Carey Jr.
3776              David Jason Perez
3777                Sameer Ali Khan
3780           Kristin Scott Thomas
3782             Randall 'Tex' Cobb
3784        Catalina Sandino Moreno
3810              Charles S. Dutton
3825             James Martin Kelly
3852                Jeremy W. Auman
3858             Yousef 'Joe' Sweid
3865                  John Enos III
3887                    Ki Hong Lee
3908                Elina Abai Kyzy
3915           Charles Irving Beale
3930            Marc John Jefferies
3947             Raoul Max Trujillo
3959              David Alan Basche
3970             Walter Hendrix III
3978                André the Giant
3988             Bobb'e J. Thompson
3999            Ann Morgan Guilbert
4015            Spencer Treat Clark
4055                Tommy the Clown
4056             David Julian Hirsh
4077                   Don S. Davis
4078      Jennifer Schwalbach Smith
4097               Janet Lee Dapper
4105             Chloë Grace Moretz
4112                 Paul T. Taylor
4118              Philip Baker Hall
4166            Juan Carlos Montoya
4174        Nicole 'Snooki' Polizzi
4202           George 'Buck' Flower
4239                  Joe Don Baker
4250                Portia de Rossi
4268           Jean Pierre Bergeron
4273              Dennis L.A. White
4285            Benjamin A. Onyango
4300              David Della Rocco
4321                   Gus Van Sant
4333                  Saif Ali Khan
4334               Jodi Lyn O'Keefe
4344            Sean Patrick Thomas
4354               Joyce Van Patten
4356                 Emma de Caunes
4361            Laird John Hamilton
4364                 George W. Bush
4371               June Carter Cash
4381            Justin Edward Seale
4400                  W. Earl Brown
4409           Wilbur 'Hi-Fi' White
4413                 M. Emmet Walsh
4417         Daniel Stewart Sherman
4422              Roscoe Lee Browne
4442               Damian Jewan Lee
4462              Maria Pia Calzone
4478               R. Marcos Taylor
4490                   Joe E. Brown
4497            Kirby Bliss Blanton
4509                 Jason K. Wixom
4522        James Robertson Justice
4524                 Tony Lo Bianco
4539            David Patrick Kelly
4557                  Mark L. Young
4601           Anthony L. Fernandez
4611               James Badge Dale
4626         Kevin Scott Richardson
4642         Cedric the Entertainer
4648                 Robert De Niro
4655            Michael C. Williams
4663                  Ching Wan Lau
4709               David A.R. White
4739        Björn Hlynur Haraldsson
4764           Jesse Tyler Ferguson
4768         Michelle Simone Miller
4781             June Diane Raphael
4785                Alan Van Sprang
4789                 The Dalai Lama
4794                  Bart the Bear
4797            Meredith Scott Lynn
4799                Reza Sixo Safai
4821               Tom E. Nicholson
4840                    Lee J. Cobb
4849              Laura San Giacomo
4853               Lauren C. Mayhew
4891             Omar Benson Miller
4896         Amir Farrokh Hashemian
4924              Sammo Kam-Bo Hung
4929         Per Christian Ellefsen
4933      Catherine Lough Haggquist
4941             Michael Des Barres
4948           Pedro Armendáriz Jr.
4958           Torey Michael Adkins
4959                  Jill St. John
4965          James Cullen Bressack
4982        William Morgan Sheppard
5001          Lawrence Gilliard Jr.
5017        Anthony 'Citric' Campos
5022            Wilhelm von Homburg
5023             Melvin Van Peebles
5025            Ashley Ashida Dixon
5029             Amber Stevens West
5038                Susan May Pratt
5059        Birgitte Hjort Sørensen
5074             Peter Mark Richman
5078       Ingvar Eggert Sigurðsson
5110          Maria Conchita Alonso
5111               Lucille La Verne
5115              Jorge Luis Moreno
5142           Jenni 'Jwoww' Farley
5162               Cathryn de Prume
5170                David Lee Smith
5172             Michael J. Pollard
5186             Michael Abbott Jr.
5234              Marcus Lyle Brown
5238             Brendan Sexton III
5251                Ernie Reyes Jr.
5252                  Alan Hale Jr.
5311               Kevin Peter Hall
5338            Thomas Ian Griffith
5370                  Ed Begley Jr.
5373               Andrew Dice Clay
5391               Damon Wayans Jr.
5437               Charlotte Le Bon
5473            Keegan Connor Tracy
5474           Danielle von Zerneck
5477             Isiah Whitlock Jr.
5487            Ingrid Bolsø Berdal
5498                 Brian Van Holt
5505                  Kim De Angelo
5513             R. Brandon Johnson
5547       Anna Katharina Schwabroh
5553             Brian d'Arcy James
5561               Zachery Ty Bryan
5563             Emilio Estefan Jr.
5572                Ana Maria Guran
5573        Yayaying Rhatha Phongam
5580                  Reg E. Cathey
5597         Louis Ozawa Changchien
5607    Mary Elizabeth Mastrantonio
5616               Soleil Moon Frye
5637              Michael J. Morris
5640              Stanley B. Herman
5643              Lesley Ann Warren
5649                Lisa Ann Walter
5668          Edward Everett Horton
5704             Jonathan D. Mellor
5709                 Drea de Matteo
5711               Steven Van Zandt
5716           James Patrick Stuart
5731          Lara Jean Chorostecki
5737               Richard T. Jones
5753              Jamie Renée Smith
5757                 Lon Chaney Jr.
5768                 Joe Lo Truglio
5779       Bianca Brigitte VanDamme
5796           Jonathan Morgan Heit
5813            David Adam Flannery
5819             Patrick St. Esprit
5834            Penelope Ann Miller
5839                 Kari J. Kramer
5846           Roger Guenveur Smith
5849           Stig Frode Henriksen
5857             Eva Amurri Martino
5858           Tyler James Williams
5860             Gian Maria Volontè
5869               David Alan Grier
5882          Skye McCole Bartusiak
5883            Serena Scott Thomas
5894                John F. Kennedy
5898            Darren Keefe Reiher
5899            Joseph Julian Soria
5915              Jean Louisa Kelly
5917              Erik Per Sullivan
5952                  James Le Gros
5964                 Hal Landon Jr.
5967             S. William Hinzman
5972               Tim Blake Nelson
5976             Robin Atkin Downes
5982               Joel David Moore
5994              Miguel Ángel Solá
6042             Toby Leonard Moore
6044          Zackary Steven Graham
6046                 Isild Le Besco
6060              Andrea Di Stefano
6064              Mario Van Peebles
6065                  Mary J. Blige
6101               Paula Jai Parker
6127         Misha Gabriel Hamilton
6133              Bonnie Lee Bouman
6167                  Chi Chung Lam
6178                Jesse L. Martin
6240                      Li Jun Li
                        actor_name
422         William Joseph Elk III
543          Anneliese van der Pol
724     Tulku Jamyang Kunga Tenzin
1111        Mike 'The Miz' Mizanin
1261          Benjamin J. Cain Jr.
1340     José Manuel Orozco Angulo
1431           Miguel A. Núñez Jr.
1947  Balinese Tari Legong Dancers
2402              Paz de la Huerta
2583             Ana de la Reguera
2588           Tony Chiu Wai Leung
2879           Larry the Cable Guy
4168        Isaac C. Singleton Jr.
4181     Paul 'Pauly D' DelVecchio
4503         Cristián de la Fuente
4673           Rodrigo De la Serna
4759          Puti Sri Candra Dewi
5107        Collin Alfredo St. Dic
5298           Antonio de la Torre

Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []
Empty DataFrame
Columns: [actor_name]
Index: []

In [44]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1]

            actor_name
20                Akon
21        Brahmanandam
676        Ann-Margret
749               T.I.
909              Bhama
978               Pelé
1094           Steve-O
1206           Lalaine
1226       Prabhudheva
1291           Maïwenn
1343            Divine
1415             Ice-T
1517           Revathy
1572              Flea
1731              Mako
1899              Bono
2106           Charice
2167           Luenell
2280               Eve
2571           Chester
2944          Mo'Nique
3020            Xzibit
3065              Leon
3088              Remo
3106             Slash
3129            Denden
3172            Common
3314             Akima
3434             Topol
3565           Aaliyah
3724             Rekha
3835             Terry
3868           Prabhas
4020       Laura-Leigh
4035              Pink
4037            Malika
4054          Madhavan
4201             Lemmy
4207              Rain
4235           Prateik
4243         Will.i.am
4401             Björk
4526             Drake
4529         Valentine
4811  Circus-Szalewski
4902      Raven-Symoné
4919            Fergie
4989            Vanity
4998              Tabu
5376           Diganth
5559               DMX
5601              Lucy
5638           Unknown
5799           Ashanti
6018            Amidou
6094              Asin
6195         Matisyahu
6221               RZA

In [45]:
df_actor_split

             actor_name
0       Michael Chapman
1         Martin Sharpe
2     Jordan Trovillion
3           Akie Kotabe
4     Kamatari Fujiwara
...                 ...
6251       Yayan Ruhian
6252         Ivan Dixon
6253    Fernanda Torres
6254       Kang-ho Song
6255  Isaiah Washington

[6256 rows x 1 columns]

In [46]:
df_actor_split.isnull().sum()

actor_name    0
dtype: int64

In [47]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 1, 'last_name'] = df_actor_split['actor_name'].str.split().str[0]

In [48]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 2, 'first_name'] = df_actor_split['actor_name'].str.split().str[-2]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 2, 'last_name'] = df_actor_split['actor_name'].str.split().str[-1]

In [49]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 3, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 3, 'last_name'] = df_actor_split['actor_name'].str.split().str[-2] + ' ' + df_actor_split['actor_name'].str.split().str[-1]

In [50]:
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 4, 'first_name'] = df_actor_split['actor_name'].str.split().str[0]
df_actor_split.loc[df_actor_split['actor_name'].str.split().str.len() == 4, 'last_name'] = df_actor_split['actor_name'].str.split().str[-3] + ' ' + df_actor_split['actor_name'].str.split().str[-2] + ' ' + df_actor_split['actor_name'].str.split().str[-1]

In [51]:
df_actor_split.isnull().sum()

actor_name    0
first_name    0
last_name     0
dtype: int64

In [52]:
#export to csv
df_actor_split.to_csv('df_actor_split.csv', index = False)

#### prepare genres.csv

In [53]:
df_cp['genres'].value_counts()

Drama                                                     233
Comedy                                                    205
Comedy|Drama                                              189
Comedy|Drama|Romance                                      185
Comedy|Romance                                            157
                                                         ...
Crime|Drama|History                                         1
Action|Animation|Comedy|Family|Fantasy|Sci-Fi               1
Biography|Crime|Drama|History|Thriller                      1
Adventure|Animation|Comedy|Drama|Family|Fantasy|Sci-Fi      1
Comedy|Crime|Horror                                         1
Name: genres, Length: 914, dtype: int64

In [54]:
genres = df_cp['genres'].unique()

In [55]:
df_genres= pd.DataFrame(genres, columns=['genres'])

In [56]:
# separate genre with | and then stack them
stacked = pd.DataFrame(df_genres.genres.str.split(pat='|').tolist()).stack()

In [57]:
stacked

0    0       Action
     1    Adventure
     2      Fantasy
     3       Sci-Fi
1    0       Action
            ...
912  1        Drama
     2       Horror
913  0       Comedy
     1        Crime
     2       Horror
Length: 3569, dtype: object

In [58]:
genres = pd.DataFrame(stacked.value_counts().index.to_list(), columns = ["genres"])

In [59]:
genres = genres.sort_values(by="genres", inplace=False, ignore_index=True)

In [60]:
genres.to_csv('genres.csv', index = False)